<ng-container *ngIf="dailyCards$ | async; let dailyCards">
  <div class="m-2 dashboard d-flex flex-column">
    <h1>Hi Friend ! Are you ready to study ?</h1>
    <ng-container *ngIf="(getListStatus$ | async) === laodCardStatus.Success; else loading">
      <h3 *ngIf="dailyCards.length > 0">Today {{ dailyCards.length }} cards to study.</h3>
      <h3 *ngIf="dailyCards.length === 0">No cards to study for Today</h3>

      <button mat-button class="bg-light-black text-white mb-4 w-25" (click)="handleClickAddList()">
        <span>add new list</span>
        <mat-icon>add</mat-icon>
      </button>

      <app-card-list-by-tag
        *ngFor="let cardsByTag of cardsByTag$ | async | keyvalue"
        [cardsByTag]="cardsByTag"
        [cards]="(allCards$ | async)!"
        class="w-100"
      ></app-card-list-by-tag>
    </ng-container>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</ng-container>
